
<div>
  <div class="row">
      <div class="col-sm-12 mb-3">
          <button class="btn add btn-primary" (click)="onAdd()">
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>
<div>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Država</th>
              <th scope="col" rowspan="2">Actions</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let country of countries; let i = index">
              <td>{{ country.name }}</td>

              <td>
                <button class="btn"><i class="fa fa-edit" (click)="onEdit(country.id)"></i></button>
            </td>
            <td>
                <button class="btn delete" (click)="onDelete(country.id)"><i class="fa fa-trash"></i></button>
            </td>


          </tr>
      </tbody>
  </table>
</div>
