<div>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Kolegij</th>
              <th scope="col">Opis</th>
              <th scope="col">Smjer</th>
              <th scope="col" rowspan="2">Actions</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let course of courses; let i = index">
              <td>{{ course.name }}</td>
              <td>{{ course.description }}</td>
              <td>{{ course.division.name }}</td>

              <td>
                <button class="btn"><i class="fa fa-edit" (click)="onEdit(course.id)"></i></button>
            </td>
            <td>
                <button class="btn delete" (click)="onDelete(course.id)"><i class="fa fa-trash"></i></button>
            </td>


          </tr>
      </tbody>
  </table>
</div>
