
<div>
    <div class="mb-3"><h2>Izvrsitelj/opis predavanja</h2><strong>uređivanje/dodavanje</strong></div>
  <div class="row">
      <div class="col-sm-12 mb-3">
          <button class="btn add btn-secondary float-right" (click)="onAdd()">
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>
<div>
  <table class="table table-striped table-hover">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Opis predavanja</th>
              <th scope="col">Actions</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let executor of executors; let i = index">
              <td>{{ executor.description }}</td>

              <td class="action">
                  <button class="btn btn-sm"><i class="fa fa-edit" (click)="onEdit(executor.id)"></i></button>
                  <button class="btn delete btn-sm btn-danger ml-3" (click)="onDelete(executor.id)"><i class="fa fa-trash"></i></button>
              </td>



          </tr>
      </tbody>
  </table>
</div>
