<div>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Opis predavanja</th>
              <th scope="col" rowspan="2">Actions</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let executor of executors; let i = index">
              <td>{{ executor.description }}</td>


              <td>
                <button class="btn"><i class="fa fa-edit" (click)="onEdit(executor.id)"></i></button>
            </td>
            <td>
                <button class="btn delete" (click)="onDelete(executor.id)"><i class="fa fa-trash"></i></button>
            </td>



          </tr>
      </tbody>
  </table>
</div>
