
<div>
    <div class="mb-3"><h2>Smjer</h2><strong>uređivanje/dodavanje</strong></div>
  <div class="row">
      <div class="col-sm-12 mb-3">
          <button class="btn add btn-secondary float-right" (click)="onAdd()">
              <i class="fa fa-plus"></i>
          </button>
      </div>
  </div>
<div>
  <table class="table table-striped table-hover">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Smjer</th>
              <th scope="col" rowspan="2">Actions</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let division of divisions; let i = index">
              <td>{{ division.name }}</td>

              <td class="action">
                  <button class="btn btn-sm"><i class="fa fa-edit" (click)="onEdit(division.id)"></i></button>
                  <button class="btn delete btn-sm btn-danger ml-3" (click)="onDelete(division.id)"><i class="fa fa-trash"></i></button>
              </td>



          </tr>
      </tbody>
  </table>
</div>
