<div>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Smjer</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let division of divisions; let i = index">
              <td>{{ division.name }}</td>

              <td>
                <button class="btn"><i class="fa fa-edit" (click)="onEdit(division.id)"></i></button>
            </td>
            <td>
                <button class="btn delete" (click)="onDelete(division.id)"><i class="fa fa-trash"></i></button>
            </td>



          </tr>
      </tbody>
  </table>
</div>
