<div>
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
              <th scope="col">Is Active</th>
              <th scope="col" rowspan="2">Actions</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of students;">

              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>

              <td> <input type="checkbox"> </td>

              <td>
                    <button class="btn"><i class="fa fa-edit" (click)="onEdit(student.id)"></i></button>
                </td>
                <td>
                    <button class="btn delete" (click)="onDelete(student.id)"><i class="fa fa-trash"></i></button>
                </td>

          </tr>
      </tbody>
  </table>
</div>
