
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">Grad</th>
              <th scope="col">Zip Code</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let city of cities; let i = index">
              <td>{{ city.name }}</td>
              <td>{{ city.zip }}</td>

              <td>
                  <button class="btn"><i class="fa fa-edit" (click)="onEdit      (city.id)"></i></button>
               </td>
                <td>
                   <button class="btn delete" (click)="onDelete(city.id)
                    "><i class="fa fa-trash"></i></button>
               </td>

          </tr>
      </tbody>
  </table>
